.todoItem {
    font-size: 20px;
    border: 2px solid rgb(11, 26, 161);
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(106, 182, 106);
    align-items: stretch;
  }
  .deleteBtn {
    position: relative;
    justify-content: flex-end;
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    color: blue;
    font-style: bold;
    border: 2px solid rgb(11, 26, 161);
    border-radius: 5px;
  }
  .editeBtn {
    position: relative;
    justify-content: stretch;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    color: blue;
    font-style: bold;
    border: 2px solid rgb(11, 26, 161);
    border-radius: 5px;
  }